@font-face {
  font-family: 'Space Mono';
  font-style: normal;
  font-weight: 400;
  src: local('Space Mono Regular'), local('SpaceMono-Regular'), url(path/to/space-mono-regular.woff2) format('woff2');
}

@font-face {
  font-family: 'Space Mono';
  font-style: normal;
  font-weight: 700;
  src: local('Space Mono Bold'), local('SpaceMono-Bold'), url(path/to/space-mono-bold.woff2) format('woff2');
}

.space-mono-regular {
  font-family: 'Space Mono', monospace;
  font-weight: 400;
  font-style: normal;
}

.space-mono-bold {
  font-family: 'Space Mono', monospace;
  font-weight: 700;
  font-style: normal;
}

.space-mono-regular-italic {
  font-family: 'Space Mono', monospace;
  font-weight: 400;
  font-style: italic;
}

.space-mono-bold-italic {
  font-family: 'Space Mono', monospace;
  font-weight: 700;
  font-style: italic;
}

body {
  overflow-x: hidden;
  background-color: black;
  color: white;
  font-family: 'Space Mono', monospace;
  font-weight: 300;
  font-style: normal;
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0;
  padding: 2em;
  padding-top: 4em;
  padding-left: 5em;
}

.links-soro {
  margin-top: 2em;
  font-size: 0.8em;
  text-decoration: underline;
  text-decoration-thickness: 0.2px;
  text-decoration-color: #ffffff;
  text-decoration-style: solid;
  text-underline-offset: 3px;
  padding-right: 2px;
  color: white; 
}

.github {
  margin-top: 2em;
  font-size: 0.8em;
  text-decoration: underline;
  text-decoration-thickness: 0.2px;
  text-decoration-color: #ffffff;
  text-decoration-style: solid;
  text-underline-offset: 3px;
  padding-left: 10px;
}

.container {
  max-width: 400px;
  width: 100%;
  padding: 1em;
  padding-top: 10px;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 1em 10em 1em 0; 
  margin: 0;
}

header a {
  color: #7460E0;
  text-decoration: none;
  font-family: 'Space Mono';
  font-weight: 700;
  font-size: 15px;
  margin: 0;
}

header a:hover {
  color: #ffffff;
  transition: color 0.3s ease;
}

nav a {
  color: #7460E0;
  text-decoration: none;
  font-family: 'Space Mono';
  font-weight: 100;
  font-size: 16px;
  margin: 0;
}

main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 0.8em;
}

h1 span {
  color: #b36fff;
  font-size: 0.9em;
}

.soro {
  display: inline-block;
  font-family: 'Space Mono';
  font-weight: 700;
  font-size: 20px;
  color: #FFFFFF;
}

.breadcrumbs {
  background-color: #000000;
  padding: 10px;
  margin-bottom: 10px;
}

.breadcrumbs a {
  text-decoration: none;
  color: #7460E0;
}

.breadcrumbs a:hover {
  text-decoration: underline;
  transition: color 0.3s ease;
}

.about {
  margin-top: 2em;
}

.about-text {
  max-width: 600px;
}

.about-text a {
  color: #7460E0;
  text-decoration: none;
  transition: color 0.2s ease-in-out;
}

.about-text a:hover {
  color: #ffffff;
  transition: color 0.3s ease;
}

.social-footer {
  max-width: 600px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
  padding: 2rem 0;
}

.social-icons {
  display: flex;
  gap: 1.5rem;
  justify-content: flex-start;
}

.social-link {
  color: #7460E0;
  transition: color 0.2s ease-in-out;
}

.social-link:hover {
  color: #5844c4;
}

.social-icon {
  align-items: start;
  width: 16px;
  stroke: #7460E0;
}

.social-icon:hover {
  stroke: #ffffff;
  transition: color 0.3s ease;
}

/* Width <= 1400px */
@media screen and (max-width: 1400px) {
  body {
    padding: 1.5em;
    font-size: 15.5px;
    padding-left: 6.5%;
    padding-right: 6.5%;
  }
}

/* Width <= 1350px */
@media screen and (max-width: 1350px) {
  body {
    padding: 1.6em;
    font-size: 15.8px;
    padding-left: 6.5%;
    padding-right: 6.5%;
  }
}

/* Width <= 1300px */
@media screen and (max-width: 1300px) {
  body {
    padding: 1.6em;
    font-size: 16px;
    padding-left: 7%;
    padding-right: 7%;
  }
}

/* Width <= 1250px */
@media screen and (max-width: 1250px) {
  body {
    padding: 1.7em;
    font-size: 16.3px;
    padding-left: 7%;
    padding-right: 7%;
  }
}

/* Width <= 1200px */
@media screen and (max-width: 1200px) {
  body {
    padding: 1.7em;
    font-size: 16.8px;
    padding-left: 7.5%;
    padding-right: 7.5%;
  }
}

/* Width <= 1150px */
@media screen and (max-width: 1150px) {
  body {
    padding: 1.8em;
    font-size: 17px;
    padding-left: 7.5%;
    padding-right: 7.5%;
  }
}

/* Width <= 1100px */
@media screen and (max-width: 1100px) {
  body {
    padding: 1.9em;
    font-size: 17.2px;
    padding-left: 8%;
    padding-right: 8%;
  }
}

/* Width <= 1050px */
@media screen and (max-width: 1050px) {
  body {
    padding: 2em;
    font-size: 17.5px;
    padding-left: 8%;
    padding-right: 8%;
  }
}

/* Small Laptops & Larger Tablets */
@media screen and (max-width: 1024px) {
  body {
    padding: 1.8em;
    font-size: 17px;
    padding-left: 8%;
    padding-right: 8%;
  }
}

/* Width <= 1000px */
@media screen and (max-width: 1000px) {
  body {
    padding: 2em;
    font-size: 17px;
    padding-left: 9%;
    padding-right: 9%;
  }
}

/* Width <= 950px */
@media screen and (max-width: 950px) {
  body {
    padding: 1.9em;
    font-size: 16.8px;
    padding-left: 8.5%;
    padding-right: 8.5%;
  }
}

/* Mid-Sized Tablets */
@media screen and (max-width: 920px) {
  body {
    padding: 1.6em;
    font-size: 16.5px;
    padding-left: 9%;
    padding-right: 9%;
  }
}

/* Width <= 900px */
@media screen and (max-width: 900px) {
  body {
    padding: 1.8em;
    font-size: 16.5px;
    padding-left: 8.5%;
    padding-right: 8.5%;
  }
}

/* Smaller Tablets */
@media screen and (max-width: 860px) {
  body {
    padding: 1.4em;
    font-size: 16px;
    padding-left: 9.5%;
    padding-right: 9.5%;
  }
}

/* Width <= 850px */
@media screen and (max-width: 850px) {
  body {
    padding: 1.7em;
    font-size: 16.3px;
    padding-left: 8%;
    padding-right: 8%;
  }
}

/* Width <= 800px */
@media screen and (max-width: 800px) {
  body {
    padding: 1.6em;
    font-size: 16px;
    padding-left: 8%;
    padding-right: 8%;
  }
}

/* Standard Tablets & Large Phones */
@media screen and (max-width: 768px) {
  body {
    padding: 1em;
    font-size: 14px;
    padding-left: 10%;
    padding-right: 10%;
  }
}

/* Width <= 750px */
@media screen and (max-width: 750px) {
  body {
    padding: 1.5em;
    font-size: 15.5px;
    padding-left: 7.5%;
    padding-right: 7.5%;
  }
}

/* Width <= 700px */
@media screen and (max-width: 700px) {
  body {
    padding: 1.4em;
    font-size: 15.2px;
    padding-left: 7.5%;
    padding-right: 7.5%;
  }
}

/* Width <= 650px */
@media screen and (max-width: 650px) {
  body {
    padding: 1.3em;
    font-size: 15px;
    padding-left: 7%;
    padding-right: 7%;
  }
}

/* Width <= 600px */
@media screen and (max-width: 600px) {
  body {
    padding: 1.2em;
    font-size: 14.5px;
    padding-left: 6.5%;
    padding-right: 6.5%;
  }
}

/* Width <= 550px */
@media screen and (max-width: 550px) {
  body {
    padding: 1.1em;
    font-size: 14.2px;
    padding-left: 6%;
    padding-right: 6%;
  }
}

/* Devices with width <= 540px (Large Smartphones) */
@media screen and (max-width: 540px) {
  body {
    padding: 0.9em;
    font-size: 13.5px;
    padding-left: 6%;
    padding-right: 6%;
  }
}

/* Width <= 500px */
@media screen and (max-width: 500px) {
  body {
    padding: 1em;
    font-size: 14px;
    padding-left: 6%;
    padding-right: 6%;
  }
}

/* Small Phones */
@media screen and (max-width: 480px) {
  body {
    padding: 0.8em;
    font-size: 13px;
    padding-left: 5%;
    padding-right: 5%;
  }
}

/* Width <= 450px */
@media screen and (max-width: 450px) {
  body {
    padding: 0.9em;
    font-size: 13.8px;
    padding-left: 5.5%;
    padding-right: 5.5%;
  }
}

/* Width <= 400px */
@media screen and (max-width: 400px) {
  body {
    padding: 0.8em;
    font-size: 13.5px;
    padding-left: 5%;
    padding-right: 5%;
  }
}

/* Extra Small Devices */
@media screen and (max-width: 360px) {
  body {
    padding: 0.5em;
    font-size: 12px;
    padding-left: 3%;
    padding-right: 3%;
  }
}

/* Width <= 350px */
@media screen and (max-width: 350px) {
  body {
    padding: 0.7em;
    font-size: 13.2px;
    padding-left: 5%;
    padding-right: 5%;
  }
}

/* Width <= 300px */
@media screen and (max-width: 300px) {
  body {
    padding: 0.6em;
    font-size: 13px;
    padding-left: 4%;
    padding-right: 4%;
  }
}


/* soro */
