@font-face {
  font-family: 'Space Mono';
  font-style: normal;
  font-weight: 400;
  src: local('Space Mono Regular'), local('SpaceMono-Regular'), url(path/to/space-mono-regular.woff2) format('woff2');
}

@font-face {
  font-family: 'Space Mono';
  font-style: normal;
  font-weight: 700;
  src: local('Space Mono Bold'), local('SpaceMono-Bold'), url(path/to/space-mono-bold.woff2) format('woff2');
}

.space-mono-regular {
  font-family: 'Space Mono', monospace;
  font-weight: 400;
  font-style: normal;
}

.space-mono-bold {
  font-family: 'Space Mono', monospace;
  font-weight: 700;
  font-style: normal;
}

.space-mono-regular-italic {
  font-family: 'Space Mono', monospace;
  font-weight: 400;
  font-style: italic;
}

.space-mono-bold-italic {
  font-family: 'Space Mono', monospace;
  font-weight: 700;
  font-style: italic;
}

body {
  overflow-x: hidden;
  background-color: black;
  color: white;
  font-family: 'Space Mono', monospace;
  font-weight: 300;
  font-style: normal;
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0;
  padding: 2em;
  padding-top: 4em;
  padding-left: 5em;
}

.links-soro {
  margin-top: 2em;
  font-size: 0.8em;
  text-decoration: underline;
  text-decoration-thickness: 0.2px;
  text-decoration-color: #ffffff;
  text-decoration-style: solid;
  text-underline-offset: 3px;
  padding-right: 2px;
  color: white; 
}

.github {
  margin-top: 2em;
  font-size: 0.8em;
  text-decoration: underline;
  text-decoration-thickness: 0.2px;
  text-decoration-color: #ffffff;
  text-decoration-style: solid;
  text-underline-offset: 3px;
  padding-left: 10px;
}

.container {
  max-width: 400px;
  width: 100%;
  padding: 1em;
  padding-top: 10px;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 1em 10em 1em 0; 
  margin: 0;
}

header a {
  color: #7460E0;
  text-decoration: none;
  font-family: 'Space Mono';
  font-weight: 700;
  font-size: 15px;
  margin: 0;
}

header a:hover {
  color: #ffffff;
  transition: color 0.3s ease;
}

nav a {
  color: #7460E0;
  text-decoration: none;
  font-family: 'Space Mono';
  font-weight: 100;
  font-size: 16px;
  margin: 0;
}

main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 0.8em;
}

h1 span {
  color: #b36fff;
  font-size: 0.9em;
}

.soro {
  display: inline-block;
  font-family: 'Space Mono';
  font-weight: 700;
  font-size: 20px;
  color: #FFFFFF;
}

.breadcrumbs {
  background-color: #000000;
  padding: 10px;
  margin-bottom: 10px;
}

.breadcrumbs a {
  text-decoration: none;
  color: #7460E0;
}

.breadcrumbs a:hover {
  text-decoration: underline;
  transition: color 0.3s ease;
}

.about {
  margin-top: 2em;
}

.about-text {
  max-width: 600px;
}

.about-text a {
  color: #7460E0;
  text-decoration: none;
  transition: color 0.2s ease-in-out;
}

.about-text a:hover {
  color: #ffffff;
  transition: color 0.3s ease;
}

.social-footer {
  max-width: 600px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
  padding: 2rem 0;
}

.social-icons {
  display: flex;
  gap: 1.5rem;
  justify-content: flex-start;
}

.social-link {
  color: #7460E0;
  transition: color 0.2s ease-in-out;
}

.social-link:hover {
  color: #5844c4;
}

.social-icon {
  align-items: start;
  width: 16px;
  stroke: #7460E0;
}

.social-icon:hover {
  stroke: #ffffff;
  transition: color 0.3s ease;
}