@font-face {
    font-family: 'Space Mono';
    font-style: normal;
    font-weight: 400;
    src: local('Space Mono Regular'), local('SpaceMono-Regular'), url(path/to/space-mono-regular.woff2) format('woff2');
  }
  
  @font-face {
    font-family: 'Space Mono';
    font-style: normal;
    font-weight: 700;
    src: local('Space Mono Bold'), local('SpaceMono-Bold'), url(path/to/space-mono-bold.woff2) format('woff2');
  }
  
  
  .space-mono-regular {
    font-family: 'Space Mono', monospace;
    font-weight: 400;
    font-style: normal;
  }
  
  .space-mono-bold {
    font-family: 'Space Mono', monospace;
    font-weight: 700;
    font-style: normal;
  }
  
  .space-mono-regular-italic {
    font-family: 'Space Mono', monospace;
    font-weight: 400;
    font-style: italic;
  }
  
  .space-mono-bold-italic {
    font-family: 'Space Mono', monospace;
    font-weight: 700;
    font-style: italic;
  }
  
 
  body {
    overflow-x: hidden;
    background-color: black;
    color: white;
    font-family: 'Space Mono', monospace; 
    font-weight: 300;
    font-style: normal;
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    padding-top: 7em;
    padding-left: 17em;
    padding-right: 17em;
  }

  .soro {
  
    display: inline-block;
    overflow-wrap: break-word;
    font-family: 'Space Mono', monospace;
    font-weight: 700;
    font-size: 20px;
    color: #FFFFFF;
  }

ul {
    list-style-type: none;
    padding-left: 10px;
}
ul li::before {
    content: "• ";
    color: #7460E0;
    font-size: 1.2em;
    margin-right: 0.5em;
}


.breadcrumbs {
  color: #7460E0;
}

.breadcrumbs a {
  color: #7460E0;
  text-decoration: none;
  font-weight: 100;
  display: inline-block;
}

.breadcrumbs a:hover {
  color: #ffffff;
  transition: color 0.3s ease;
  text-decoration: none;
}


footer {
  background-color: #000000;
  padding: 500px 0; 
  text-align: center;
}

.footer-content {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 50px;
}

.footer-content p {
  margin: 0;
  color: #666;
}

/* footer-style.css */
.footer-content .quote {
  color: #888; /* Default color */
  transition: color 0.3s ease; /* Smooth transition for hover effect */
}

.footer-content .quote:hover {
  color: #fff; /* Change color to white on hover */

}

a {
  color: #7460E0;
  text-decoration: none;
}

a:hover {
  color: #ffffff;
  transition: color 0.3s ease;
  text-decoration: none;
}
