
@font-face {
  font-family: 'Space Mono';
  font-style: normal;
  font-weight: 400;
  src: local('Space Mono Regular'), local('SpaceMono-Regular'), url(path/to/space-mono-regular.woff2) format('woff2');
}

@font-face {
  font-family: 'Space Mono';
  font-style: normal;
  font-weight: 700;
  src: local('Space Mono Bold'), local('SpaceMono-Bold'), url(path/to/space-mono-bold.woff2) format('woff2');
}


.space-mono-regular {
  font-family: 'Space Mono', monospace;
  font-weight: 400;
  font-style: normal;
}

.space-mono-bold {
  font-family: 'Space Mono', monospace;
  font-weight: 700;
  font-style: normal;
}

.space-mono-regular-italic {
  font-family: 'Space Mono', monospace;
  font-weight: 400;
  font-style: italic;
}

.space-mono-bold-italic {
  font-family: 'Space Mono', monospace;
  font-weight: 700;
  font-style: italic;
}


body {
  overflow-x: hidden;
  background-color: black;
  color: white;
  font-family: 'Space Mono', monospace;
  font-weight: 300;
  font-style: normal;
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0;
  padding-top: 7em;
  padding-left: 17em;
}

@media screen and (max-width: 768px) {
  body {
    padding: 1em;
    font-size: 14px;
    padding-left: 10%;
    padding-right: 10%;
  }
}

.soro {
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Space Mono', monospace;
  font-weight: 700;
  font-size: 20px;
  color: #FFFFFF;
}


.breadcrumbs {
  color: #7460E0;
}

.breadcrumbs a {
  color: #7460E0;
  text-decoration: none;
  font-weight: 100;
}

.breadcrumbs a:hover {
  color: #ffffff;
}


.posts-container {
  margin-top: 2em;
}

.posts-container h1 {
  font-size: 2.5em;
  font-weight: 700;
  margin-bottom: 1em;
}

.posts-container ul {
  list-style-type: none;
  padding: 0;
}

.posts-container li {
  margin-bottom: 1.5em;
  display: flex;
  align-items: center;
}

.posts-container .date {
  font-size: 14px;
  margin-right: 0.5em;
}

.post-link {
  color: #7460E0;
  text-decoration: none; 
  font-size: 14px;
  font-weight: 500;
  position: relative;
}

.post-link::after {
  content: '';
  position: absolute;
  text-decoration: none;
  left: 0;
  bottom: -1px; 
  width: 100%;
  height: 0.5px;
}

.post-link:hover {
  color: #ffffff;
  text-decoration: none;
}


.blog-list {
  list-style-type: none;
  padding: 0;
}

.blog-list li {
  margin-bottom: 10px;
}

.bullet {
  content: "\2022";
  color: #7460E0;
  font-size: 1.2em;
  margin-right: 0.4em;
}


/* Every 50px from 300px to 1400px */

/* Width <= 1400px */
@media screen and (max-width: 1400px) {
  body {
    padding: 1.5em;
    font-size: 15.5px;
    padding-left: 6.5%;
    padding-right: 6.5%;
  }
}

/* Width <= 1350px */
@media screen and (max-width: 1350px) {
  body {
    padding: 1.6em;
    font-size: 15.8px;
    padding-left: 6.5%;
    padding-right: 6.5%;
  }
}

/* Width <= 1300px */
@media screen and (max-width: 1300px) {
  body {
    padding: 1.6em;
    font-size: 16px;
    padding-left: 7%;
    padding-right: 7%;
  }
}

/* Width <= 1250px */
@media screen and (max-width: 1250px) {
  body {
    padding: 1.7em;
    font-size: 16.3px;
    padding-left: 7%;
    padding-right: 7%;
  }
}

/* Width <= 1200px */
@media screen and (max-width: 1200px) {
  body {
    padding: 1.7em;
    font-size: 16.8px;
    padding-left: 7.5%;
    padding-right: 7.5%;
  }
}

/* Width <= 1150px */
@media screen and (max-width: 1150px) {
  body {
    padding: 1.8em;
    font-size: 17px;
    padding-left: 7.5%;
    padding-right: 7.5%;
  }
}

/* Width <= 1100px */
@media screen and (max-width: 1100px) {
  body {
    padding: 1.9em;
    font-size: 17.2px;
    padding-left: 8%;
    padding-right: 8%;
  }
}

/* Width <= 1050px */
@media screen and (max-width: 1050px) {
  body {
    padding: 2em;
    font-size: 17.5px;
    padding-left: 8%;
    padding-right: 8%;
  }
}

/* Small Laptops & Larger Tablets */
@media screen and (max-width: 1024px) {
  body {
    padding: 1.8em;
    font-size: 17px;
    padding-left: 8%;
    padding-right: 8%;
  }
}

/* Width <= 1000px */
@media screen and (max-width: 1000px) {
  body {
    padding: 2em;
    font-size: 17px;
    padding-left: 9%;
    padding-right: 9%;
  }
}

/* Width <= 950px */
@media screen and (max-width: 950px) {
  body {
    padding: 1.9em;
    font-size: 16.8px;
    padding-left: 8.5%;
    padding-right: 8.5%;
  }
}

/* Mid-Sized Tablets */
@media screen and (max-width: 920px) {
  body {
    padding: 1.6em;
    font-size: 16.5px;
    padding-left: 9%;
    padding-right: 9%;
  }
}

/* Width <= 900px */
@media screen and (max-width: 900px) {
  body {
    padding: 1.8em;
    font-size: 16.5px;
    padding-left: 8.5%;
    padding-right: 8.5%;
  }
}

/* Smaller Tablets */
@media screen and (max-width: 860px) {
  body {
    padding: 1.4em;
    font-size: 16px;
    padding-left: 9.5%;
    padding-right: 9.5%;
  }
}

/* Width <= 850px */
@media screen and (max-width: 850px) {
  body {
    padding: 1.7em;
    font-size: 16.3px;
    padding-left: 8%;
    padding-right: 8%;
  }
}

/* Width <= 800px */
@media screen and (max-width: 800px) {
  body {
    padding: 1.6em;
    font-size: 16px;
    padding-left: 8%;
    padding-right: 8%;
  }
}

/* Standard Tablets & Large Phones */
@media screen and (max-width: 768px) {
  body {
    padding: 1em;
    font-size: 14px;
    padding-left: 10%;
    padding-right: 10%;
  }
}

/* Width <= 750px */
@media screen and (max-width: 750px) {
  body {
    padding: 1.5em;
    font-size: 15.5px;
    padding-left: 7.5%;
    padding-right: 7.5%;
  }
}

/* Width <= 700px */
@media screen and (max-width: 700px) {
  body {
    padding: 1.4em;
    font-size: 15.2px;
    padding-left: 7.5%;
    padding-right: 7.5%;
  }
}

/* Width <= 650px */
@media screen and (max-width: 650px) {
  body {
    padding: 1.3em;
    font-size: 15px;
    padding-left: 7%;
    padding-right: 7%;
  }
}

/* Width <= 600px */
@media screen and (max-width: 600px) {
  body {
    padding: 1.2em;
    font-size: 14.5px;
    padding-left: 6.5%;
    padding-right: 6.5%;
  }
}

/* Width <= 550px */
@media screen and (max-width: 550px) {
  body {
    padding: 1.1em;
    font-size: 14.2px;
    padding-left: 6%;
    padding-right: 6%;
  }
}

/* Devices with width <= 540px (Large Smartphones) */
@media screen and (max-width: 540px) {
  body {
    padding: 0.9em;
    font-size: 13.5px;
    padding-left: 6%;
    padding-right: 6%;
  }
}

/* Width <= 500px */
@media screen and (max-width: 500px) {
  body {
    padding: 1em;
    font-size: 14px;
    padding-left: 6%;
    padding-right: 6%;
  }
}

/* Small Phones */
@media screen and (max-width: 480px) {
  body {
    padding: 0.8em;
    font-size: 13px;
    padding-left: 5%;
    padding-right: 5%;
  }
}

/* Width <= 450px */
@media screen and (max-width: 450px) {
  body {
    padding: 0.9em;
    font-size: 13.8px;
    padding-left: 5.5%;
    padding-right: 5.5%;
  }
}

/* Width <= 400px */
@media screen and (max-width: 400px) {
  body {
    padding: 0.8em;
    font-size: 13.5px;
    padding-left: 5%;
    padding-right: 5%;
  }
}

/* Extra Small Devices */
@media screen and (max-width: 360px) {
  body {
    padding: 0.5em;
    font-size: 12px;
    padding-left: 3%;
    padding-right: 3%;
  }
}

/* Width <= 350px */
@media screen and (max-width: 350px) {
  body {
    padding: 0.7em;
    font-size: 13.2px;
    padding-left: 5%;
    padding-right: 5%;
  }
}

/* Width <= 300px */
@media screen and (max-width: 300px) {
  body {
    padding: 0.6em;
    font-size: 13px;
    padding-left: 4%;
    padding-right: 4%;
  }
}